.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 100vh;
  max-height: 900px;
  margin: 0 auto;
  padding: 5% 0;
  color: #444444;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 14px;

  > div {
    flex: 1;
    margin: 0 1px;
    background: #fff;
    padding: 15px;
    overflow-y: auto;
    &:nth-child(1) {
      flex: unset;
      width: 150px;
      padding: initial;
    }
  }
}

:global(.big-text) {
  font-size: 18px;
}

:global(.dim-text) {
  color: #a9a9a9;
}
